*.iml
.gradle
/.idea/gradle.xml
/.idea/misc.xml
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/gradle/wrapper
.externalNativeBuild
**/build/

/app/bin/
/library/bin/


